<!-- Generated template for the LerAlgoritmosEmGrafosComponent component -->
<div>

 <ion-card>

   
        <ion-card-content>
            Muitas aplicações em computação necessitam considerar conjunto de conexões entre pares de objetos: 
          <br>
          <ul>
              <li>Existe um caminho para ir de um objeto a outro seguindo as conexões?</li>
              <li> Qual é a menor distância entre um objeto e outro objeto?</li>
              <li> Quantos outros objetos podem ser alcançados a partir de um determinado objeto?</li>
            </ul>
            Algoritmos que trabalham com grafos podem resolver esses problemas. Alguns exemplos práticos são:
            <ul>
            <li>Ajudar máquinas de busca a localizar informações relevantes na Web;</li>
            <li> Descobrir os melhores casamentos entre posições disponíveis em empresas e pessoas que aplicaram para as posições de interesse;</li>
            <li> Descobrir qual é a rota mais curta para visitar as principais cidades de uma região.</li>
          </ul>
         
          Exemplos de algoritmos aplicados em grafos são:
          <ul>
            <li>  Algoritmo de Dijkstra;</li>
            <li>Algoritmo <ng-katex equation="A*"></ng-katex>  (A-star ou A-estrela);</li>
              <li> BFS (Breath First Search ou Busca em Largura);</li>
              <li>DFS (Depth First Search ou Busca em Profundidade)</li>
              <li>Algoritmo de Ford-Fulkerson;</li>
              <li>Algoritmo de Bellman-Ford.</li>

            </ul>
         Perceba que é bastante aplicado os grafos para a resolução de problemas de busca de rotas.

          </ion-card-content>
      

            </ion-card>







</div>
