ler-introducao-1 {
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    ion-card{


        margin-top: 10px;
        margin-bottom: 10px;

    }
}
