page-home {
    #cy {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: #000066;
        margin-block-end: 3rem;
      }

      
      
}
