page-explorar-constelacoes {

    ion-content{


        background-image:url( './../../assets/imgs/blue_universe.jpg');

    }
    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    ion-card {
        width: 100000000% !important;
        display: inline-block;
    }

    ion-scroll {
        min-height: 160px; 
        height: auto;

            .scroll-content {
            padding: 0px !important;
        }    
    }
    #acima{

        position: relative;
        height: 8%;



    }
    #cyExplorar {
        position: relative;
        left: 0;
        top: 0;
        right: 0;

        z-index: 0;
        height: 62%;
        width: 100%;
  

      }


      #abaixo{

        position: relative;

        border-style: solid;
        border-width: 5px;
        color: white;
        border-color: white;
        background-color: rgba(255, 255, 255, 0.089);
        height: 30%;
        width: 100%;
        z-index: 3;
        margin-bottom: 16px;
  

      }
      .textoConteudo{
        margin-top: 10%;

        background-color: white;







      }



}
