<!-- Generated template for the LerMotivacaoComponent component -->
<div>




    <ion-card>
      


  
  
          <ion-card-content text-justify>
              
            Diversos problemas podem ser modelados por meio da teoria de grafos. Alguns presentes até no nosso dia a dia, tais como:
              </ion-card-content>
        
  
              </ion-card>

  
  <ion-card>
      <ion-card-header>
GPS        </ion-card-header>


        <ion-card-content text-justify>
            

    Um GPS, sistema de posicionamento global utiliza Teoria de Grafos em sua modelagem.
    Suponha que você deseje implementar em um programa de GPS uma
       funcionalidade de cálculo da melhor rota entre dois pontos, de modo a
       minimizar o tempo de viagem. Como calcular a rota com o menor tempo?
       <img class="center" style="width: 165px; height: 109px;" class="center" src="../../assets/imgs/teoria/motivacao/gps.png"alt="">
       <b>Um GPS, sistema de posicionamento global.</b>                 
       Solução

       <ul>

         <li>Atribui um vértice a cada cruzamento;</li>
         <li> Atribui uma aresta a cada trecho de rua;</li>
         <li> Cada aresta deve receber um peso, que pode ser o tempo para percorre-lo ou seu comprimento.   </li>              
       </ul>
            </ion-card-content>
      

            </ion-card>
  
            

            <ion-card>
                <ion-card-header>
          Xadrez        </ion-card-header>
          
          
                  <ion-card-content text-justify>
                      
                    Jogadas de xadrez podem ser modeladas usando grafos, como por exemplo Em um tabuleiro 3 x 3 onde se deseja mapear todos
                    os movimentos que podem
                    ser realizados por um bispo
                    que se move nas casas
                    brancas.



                 <img class="center" style="width: 165px; height: 109px;" class="center" src="../../assets/imgs/teoria/motivacao/xadrez1.png"alt="">
                 <img class="center" style="width: 165px; height: 109px;" class="center" src="../../assets/imgs/teoria/motivacao/xadrez2.png"alt="">

                 <b>Modelagem de uma jogada usando teoria dos Grafos.</b>                 
                 
                      </ion-card-content>
                
          
                      </ion-card>
                      <ion-card>
                          <ion-card-header>
                              Fluxo Máximo        </ion-card-header>
                    
                    
                            <ion-card-content text-justify>
                                
                                Você esta planejando uma rede de galerias subterrâneas para
                                captação de agua da chuva, evitando alagamentos. Como calcular
                                o fluxo máximo de água que a rede de galerias é capaz de escoar? 
                                Esse problema pode ser modelado utilizando Grafos.
          
          
             
                           
                                </ion-card-content>
                          
                    
                                </ion-card>
         

           
                  
           


          
          
          
          
          </div>


