page-home {


    ion-content{

        background-color: blue;



    }
    .scroll-content {
        overflow-y: hidden !important;
    }      #cy {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            background-color: #003380;
            height: 100%;
            width: 100%;
            z-index: 2;

        }


}
